/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
  
  body {
    font-family: 'DM Sans', sans-serif;
    padding: 2rem;
    background-color: #97e7f5;
  }
  
  .element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: black;
    /* Adding space between the elements by creating a margin-bottom */
    margin-bottom: 6rem;
  }

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
  }
  
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
  }
  
  h3 {
    margin-top: 1rem;
    font-family: 'SPoppins', sans-serif;
    font-size: 1.5rem;
  }
  
  h4 {
    margin-bottom: 0.25rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
  }
  
  p {
    margin-top: 0;
    font-family: 'DM Sans', sans-serif;
    max-width: 50%;
    font-size: 0.8rem;
  }
  
  nav a:hover, nav a:focus {
    text-decoration: none;
  }
  
  code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
  }

  .project-listing-1{
    display: flex;
    gap: 2rem;
    margin-bottom: 25px;
  }
  
  .project-listing-3{
    display: flex;
    gap: 2rem;
    margin-bottom: 25px;
  }
  
  .navigate{
    margin-right: 20px;
  }
  
  .middle-text{
    text-align: center;
  }
  
  .text-middle{
    text-align: center;
  }
  
  .project-listing-5{
    display: block;
    justify-content: space-evenly;
    margin-top: 2rem;
    gap: 2rem;
  }


/* 
  INTERACTIVE ELEMENTS -------------------
*/


  /* Styling for the text link */
  .text-link {
    /* default color of the text link */
    color: #6900ff; 
    text-decoration: none;
    /* smooth transition for the color change for the text link */
    transition: color 0.4s ease;
  }

  .text-link:hover,
  .text-link:focus {
    /* hover and focus state will change the color */
    color: #01377d; 
  }

  /* This is styling for the image placeholder that is not a link */
  .element .project-listing {
    max-width: 100%;
    margin: 0 auto; 
  }

  /* This is styling for the image to be responsive according to the web screen size */
  .element .project-listing img {
    width: 100%;
    height: auto;
    margin: 0 auto; 
  }

  /* This is styling for the image to be responsive according to the web screen size */
  .responsive-img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
  }
 
  @media only screen and (max-width: 1023px) {
    .responsive-img{
      max-width: 100%;
    }
  }

  .project-listing-1{
    display: flex;
    gap: 2rem;
    margin-bottom: 25px;
  }
  
  .project-listing-3{
    display: flex;
    gap: 2rem;
    margin-bottom: 25px;
  }
  
  .navigate{
    margin-right: 20px;
  }
  
  .middle-text{
    text-align: center;
  }
  
  .text-middle{
    text-align: center;
  }
  
  .project-listing-5{
    display: block;
    justify-content: space-evenly;
    margin-top: 2rem;
    gap: 2rem;
  }

